<div class="container">
                <div class="container">
                    <h1 class="page-title"></h1>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <aside class="sidebar-left">
                            <ul class="nav nav-pills nav-stacked nav-side mb30">
                            	<li ng-class="{ active: tab == 'pueblos' }"><a  href="" ng-click="tab='establecimientos'">Establecimientos</a>
			                     </li>
			                     <li ><a href="" ng-click="tab='servicios'">Servicios turísticos</a>
			                     </li>   
                            
                                <li class="active"><a  href="gestionPM.html">Pueblos Mágicos</a>
                                </li>
                                <li ><a href="gestionAtractivosSimbolicos.html">Atractivos turísticos</a>
                                </li>
                                <li><a href="gestionServiciosEmergencias.html">Servicios de emergencias</a>
                                </li>                            
                            </ul>
                        </aside>
                    </div>
                    <div class="col-md-10">
                        <table class="table table-bordered table-striped table-booking-history">
                            <thead>
                                 <tr>
                                    <th colspan="5" class="text-center">Pueblos Mágicos  <button class="btn btn-link  fa fa-plus btn-lg"></button></th>
                                </tr>
                                <tr>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Inactivo - Activo</th>
                                    <th class="text-center">Ver más</th>
                                    <th class="text-center">Modificar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Valle de Bravo</td>
                                    <td class="text-center">
                                        <div>    
                                            <div class="checkbox checkbox-switch checkbox-inline">
                                                <label><input class=" i-check" type="checkbox" checked/></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div>    
                                            <form action="gestionVisualizarPM.html"><button  class="btn btn-link  fa  fa-search btn-lg"></button></form>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div>    
                                            <form><button class="btn btn-link  fa fa-pencil btn-lg"></button></form>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div>    
                                            <form><button  class="btn btn-link  fa fa-times btn-lg"></button></form>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="gap"></div>
            </div>
