<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
<!-- /GOOGLE FONTS -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/icomoon.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/mystyles.css">
<script src="js/modernizr.js"></script>
<script src="js/jquery.js"></script>
 <script src="js/bootstrap.js"></script>
 <script src="js/slimmenu.js"></script>
 <script src="js/bootstrap-datepicker.js"></script>
 <script src="js/bootstrap-timepicker.js"></script>
 <script src="js/nicescroll.js"></script>
 <script src="js/dropit.js"></script>
 <script src="js/ionrangeslider.js"></script>
 <script src="js/icheck.js"></script>
 <script src="js/fotorama.js"></script>
 <script src="js/typeahead.js"></script>
 <script src="js/card-payment.js"></script>
 <script src="js/magnific.js"></script>
 <script src="js/owl-carousel.js"></script>
 <script src="js/fitvids.js"></script>
 <script src="js/tweet.js"></script>
 <script src="js/countdown.js"></script>
 <script src="js/gridrotator.js"></script>
 <script src="js/custom.js"></script>
 <div class="container" >
     
	<div class="gap"></div>
     <div class="row">
         <div class="col-md-3">
             <aside class="sidebar-left">
                 <ul class="nav nav-pills nav-stacked nav-side mb30">
					<li>
						<a  href="#/gestion" ng-click="tab='inicio'">Inicio</a>
					</li>
				   <li>
						<a  href="#/gestion/pueblosMagicos" ng-click="tab='pueblos'">Pueblos Mágicos</a>
				   </li>
				   <li class="active">
						<a  href="#/gestion/atractivosTuristicos" ng-click="tab='atractivos'">Atractivos turísticos</a>
				   </li>           
				   <li>
						<a  href="#/gestion/serviciosEmergencias" ng-click="tab='servicios'">Servicios de emergencias</a>
				   </li>                
                 </ul>
             </aside>
         </div>
          
         <div class="col-md-9" ng-controller="AtractivoTuristicoRegistroController as atractivoTuristicoRegistroController">	
			<form ng-submit="submit()">
				<div class="form-group">
					<label>*Nombre</label>
					 <input class="form-control" placeholder="" type="text" ng-model="atractivoTuristico.nombre"
	                   			maxlength="100" required/>
				</div>	
				<div class="form-group">
					<label>*Tipo atractivo turístico</label>
					<select class="form-control" ng-model="atractivo.taIdtipoAtractivo">
						<option ng-repeat="tipoAtractivo in tiposAtractivo" value="{{tipoAtractivo.idtipoAtractivo}}">{{tipoAtractivo.nombre}}</option>															
					</select>
				</div>		
				<div class="form-group">
					<label>Descripción</label>
					<textarea class="form-control" rows="5" ng-model="atractivoTuristico.descripcion"></textarea>
				</div>
				
				<div class="form-group">
					<label>*Asentamiento</label>
					<select class="form-control" ng-model="atractivoTuristico.aidAsentamiento">
						<option ng-repeat="asentamiento in asentamientos" value="{{asentamiento.idAsentamiento}}">{{asentamiento.nombreAsentamiento}}</option>															
					</select>
				</div>	
				
				<div class="form-group">
					<label>*Seleccione la ubicación del Pueblo Mágico</label>
					<div id="map" style="height: 400px"></div>
				</div>
				
				<div class="gap"></div>
			
			
				<input class="btn btn-primary" type="submit" value="Registrar"></input>
				<a class="btn btn-primary" href="#/gestion/pueblosMagicos">Cancelar</a>
			</form>
		</div>
        
     </div>

     <div class="gap"></div>
 </div>
