<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
<!-- /GOOGLE FONTS -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/icomoon.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/mystyles.css">
<script src="js/modernizr.js"></script>
<script src="js/jquery.js"></script>
 <script src="js/bootstrap.js"></script>
 <script src="js/slimmenu.js"></script>
 <script src="js/bootstrap-datepicker.js"></script>
 <script src="js/bootstrap-timepicker.js"></script>
 <script src="js/nicescroll.js"></script>
 <script src="js/dropit.js"></script>
 <script src="js/ionrangeslider.js"></script>
 <script src="js/icheck.js"></script>
 <script src="js/fotorama.js"></script>
 <script src="js/typeahead.js"></script>
 <script src="js/card-payment.js"></script>
 <script src="js/magnific.js"></script>
 <script src="js/owl-carousel.js"></script>
 <script src="js/fitvids.js"></script>
 <script src="js/tweet.js"></script>
 <script src="js/countdown.js"></script>
 <script src="js/gridrotator.js"></script>
 <script src="js/custom.js"></script>
<div class="container">
<div class="gap"></div>
	<div class="row" data-gutter="60">
		<div class="col-md-6">
			<h3 translate="bienvenida"></h3>
			<p translate="mensaje_bienvenida"></p>
		</div>
		<div class="col-md-6" ng-controller="LoginController as loginController" >
			<h3 translate="iniciar_sesion"></h3>
			
			<form ng-submit="login()">
				<div class="form-group form-group-icon-left">
					<i class="fa fa-user input-icon input-icon-show"></i> 
					<label translate="usuario"></label> 
					<input class="form-control" placeholder="e.g. miNombreDeUsuario" name="username" type="textx" ng-model="usuario.nombreUsuario" required/>
					<span ng-show="form.username.$dirty && credentials.username.$error.required" class="help-block">Username is required</span>
				</div>
				<div class="form-group form-group-icon-left">
					<i class="fa fa-lock input-icon input-icon-show">
					</i> <label translate="contraseña"></label>
					<input class="form-control" type="password" placeholder="e.g. mi contraseña" ng-model="usuario.contrasena"/>
				</div>
				<input class="btn btn-primary" type="submit" translate translate-attr-value="iniciar_sesion" />
				<label ng-show="error">Nombre de usuario o contraseña incorrectos</label>
			</form>
			<p>{{'sin_cuenta' | translate}}
				<a href="#/registro" >{{'registrese' | translate}}</a>
			</p>
			<p>
				<a href="#" translate="olvido_contraseña"></a>
			</p>
			<p>{{'es_PST' | translate}}
				<a href="#/registroPST">{{'registresePST' | translate}}</a>
			</p>
		</div>
	</div>
</div>