      <div class="top-area show-onload">
            <!-- Mapa con puntos -->    
			<div class="bg-darken" ng-controller="MapController as mCtrl">
				<div class="container">
<!-- 					<p translate="MSG01" translate-values="{accion: '{{'prueba' | translate}}', recurso:'el pm' }"> </p> -->
<!-- 					<p translate="MSG01" translate-value-accion="{{'prueba' | translate}}" translate-value-recurso='el pm'> </p> -->
					<h3 class="mb20">Ubica los Pueblos Mágicos en México</h3>
					<div id="map" style="height: 500px"></div>

				</div>
			
			</div> 
			
			
			
		</div>
		<!-- END TOP AREA  -->


<!-- 	<div ng-controller='DemoController'> -->
<!--   <div infinite-scroll='loadMore()' infinite-scroll-distance='2'> -->
<!--     <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'> -->
<!--   </div> -->
<!-- </div> -->



		<!-- AREA  PM -->
		<div class="container" ng-controller="InfinitePMController as infinitePMController">
	
		<h2 class="mb20">Pueblos Mágicos por estado</h2>
		
				
				<div infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-disabled='end'>	
					<div ng-repeat="estado in estados">
						<div class="row row-wrap">
							<hr>
							<h3 class="mb20">{{estado.nombreEstado}}</h3>			
							<div class="col-md-4" ng-repeat="puebloMagico in estado.pueblosMagicos track by $index" >						
								
									<div class="thumb text-center">
										<header class="thumb-header">
											<a class="hover-img curved" href="#/pueblo/{{puebloMagico.nombre}}"> 
												<img height="270px" width="600px" ng-src="{{puebloMagico.foto}}" alt="Image Alternative text" title="" />
												<h5 class="hover-title-top-left hover-hold">​{{puebloMagico.nombre}}</h5>
											</a>
										</header>
										<div class="thumb-caption text-center">
											<p class="thumb-desc">{{puebloMagico.descripcion.substring(0,300) + '...'}}</p>
											<a class="btn btn-default btn-ghost mt10" href="#/pueblo/{{puebloMagico.nombre}}">Ver más<i class="fa fa-angle-right"></i></a>
										</div>
									</div>
								
							</div>		
							
						</div>	
					
					</div>
<!-- 					<input class="btn btn-primary" ng-click="loadMore()" translate translate-attr-value="iniciar_sesion" /> -->
				</div>
				
			
			
			





		</div>
		
<!-- 		<div class="gap gap-small"></div> -->
	
	<!-- END TOP AREA PM  -->