      <div class="top-area show-onload">
            <!-- Mapa con puntos -->    
			<div class="bg-darken" ng-controller="MapController as mCtrl">
				<div class="container">
					<p translate="MSG01" translate-values="{accion: '{{'prueba' | translate}}', recurso:'el pm' }"> </p>
					<p translate="MSG01" translate-value-accion="{{'prueba' | translate}}" translate-value-recurso='el pm'> </p>
					<h3 class="mb20">Ubica los Pueblos Mágicos en México</h3>
					<div id="map" style="height: 500px"></div>

				</div>
			
			</div> 
			
			
			
		</div>
		<!-- END TOP AREA  -->






		<!-- AREA  PM -->
		<div class="container">
			<div class="row row-wrap">
				<h2 class="mb20">Pueblos Mágicos por estado</h2>

				<hr>
				
				<h3 class="mb20">Aguascalientes</h3>
				<div class="col-md-4">
					<div class="thumb text-center">
						<header class="thumb-header">
							<a class="hover-img curved" href="informacion.html"> <img
								src="img/pueblosMagicos/realDeAsientos.jpg"
								alt="Image Alternative text" title="" />
								<h5 class="hover-title-top-left hover-hold">​Real de
									Asie​​ntos</h5>
							</a>
						</header>
						<div class="thumb-caption text-center">
							<p class="thumb-desc">Pretium dolor luctus dictumst elementum
								nec tristique proin duis vivamus</p>
							<a class="btn btn-default btn-ghost mt10" href="#">Ver más<i
								class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumb text-center">
						<header class="thumb-header">
							<a class="hover-img curved" href="#"> <img
								src="img/pueblosMagicos/calvillo.jpg"
								alt="Image Alternative text" title="" />
								<h5 class="hover-title-top-left hover-hold">Calvillo</h5>
							</a>
						</header>
						<div class="thumb-caption text-center">
							<p class="thumb-desc">Metus hac malesuada id ultricies risus
								lacinia enim dui dui</p>
							<a class="btn btn-default btn-ghost mt10" href="#">Ver más<i
								class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumb text-center">
						<header class="thumb-header">
							<a class="hover-img curved" href="#"> <img
								src="img/pueblosMagicos/sanJoseGracia.jpg"
								alt="Image Alternative text" title="Bridge" />
								<h5 class="hover-title-top-left hover-hold">​San José ​​de
									Gracia</h5>
							</a>
						</header>
						<div class="thumb-caption text-center">
							<p class="thumb-desc">Sodales mus vitae id class rhoncus
								facilisis malesuada adipiscing sollicitudin</p>
							<a class="btn btn-default btn-ghost mt10" href="#">Ver más <i
								class="fa fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				
				
			</div>





		</div>
<!-- 		<div class="gap gap-small"></div> -->
	
	<!-- END TOP AREA PM  -->