<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
<!-- /GOOGLE FONTS -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/icomoon.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/mystyles.css">
<script src="js/modernizr.js"></script>
<script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/slimmenu.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <script src="js/icheck.js"></script>
        <script src="js/fotorama.js"></script>
        <script src="js/typeahead.js"></script>
        <script src="js/card-payment.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>      
      
      
      <div class="top-area show-onload">
                <div class="owl-carousel owl-slider owl-carousel-area" id="owl-carousel-slider">
                    <div class="bg-holder full text-center text-white">
                        <div class="bg-mask"></div>
                        <div class="bg-img" style="background-image:url(img/valleBici.jpg);"></div>
                        <div class="bg-front full-center">
                            <div class="owl-cap">
                                <h1 class="owl-cap-title fittext">Valle de Bravo</h1>
                                <div class="owl-cap-price">
                                </div><a class="btn btn-white btn-ghost" href="#/pueblo/Valle%20de%20Bravo"><i class="fa fa-angle-right"></i> Explorar</a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-holder full text-center text-white">
                        <div class="bg-mask"></div>
                        <div class="bg-img" style="background-image:url(img/teotihuacan.jpg);"></div>
                        <div class="bg-front full-center">
                            <div class="owl-cap">
                                <h1 class="owl-cap-title fittext">Teotihuacán</h1>
                                <div class="owl-cap-price">
                                </div><a class="btn btn-white btn-ghost" href="#/pueblo/Teotihuac%C3%A1n"><i class="fa fa-angle-right"></i> Explorar</a>
                            </div>
                        </div>
                    </div>
                    <div class="bg-holder full text-center text-white">
                        <div class="bg-mask"></div>
                        <div class="bg-img" style="background-image:url(img/tepotzotlan.jpg);"></div>
                        <div class="bg-front full-center">
                            <div class="owl-cap">
                                <h1 class="owl-cap-title fittext">Tepotzotlán</h1>
                                <div class="owl-cap-price">
                                </div><a class="btn btn-white btn-ghost" href="#/pueblo/Tepotzotl%C3%A1n"><i class="fa fa-angle-right"></i> Explorar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      <div class="top-area show-onload">
            <!-- Mapa con puntos -->    
			<div class="bg-darken" ng-controller="MapController as mCtrl">
				<div class="container">
<!-- 					<p translate="MSG01" translate-values="{accion: '{{'prueba' | translate}}', recurso:'el pm' }"> </p> -->
<!-- 					<p translate="MSG01" translate-value-accion="{{'prueba' | translate}}" translate-value-recurso='el pm'> </p> -->
					<div class="gap gap-small"></div>
					<h3 class="mb20 text-center">Pueblos Mágicos de México</h3>
					<div id="map" style="height: 500px"></div>
					<div class="gap gap-small"></div>
				</div>
			
			</div> 
	</div>
		<!-- END TOP AREA  -->


<!-- 	<div ng-controller='DemoController'> -->
<!--   <div infinite-scroll='loadMore()' infinite-scroll-distance='2'> -->
<!--     <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'> -->
<!--   </div> -->
<!-- </div> -->



		<!-- AREA  PM -->
		<div class="container" ng-controller="InfinitePMController as infinitePMController">
	
		
				
				<div infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-disabled='end'>	
					<div ng-repeat="estado in estados">
						<div class="row row-wrap">
						
							<h3 class="mb20">{{estado.nombreEstado}}</h3>			
							<div class="col-md-4" ng-repeat="puebloMagico in estado.pueblosMagicos track by $index" >						
								
									<div class="thumb text-center">
										<header class="thumb-header">
											<a class="hover-img curved" href="#/pueblo/{{puebloMagico.nombre}}"> 
												<img height="270px" width="600px" ng-src="{{puebloMagico.foto}}" alt="Image Alternative text" title="" />
												<h5 class="hover-title-top-left hover-hold">​{{puebloMagico.nombre}}</h5>
											</a>
										</header>
										<div class="thumb-caption text-center">
											<p class="thumb-desc">{{puebloMagico.descripcion.substring(0,300) + '...'}}</p>
											<a class="btn btn-default btn-ghost mt10" href="#/pueblo/{{puebloMagico.nombre}}">Ver más<i class="fa fa-angle-right"></i></a>
										</div>
									</div>
								
							</div>		
							
						</div>	
					
					</div>
<!-- 					<input class="btn btn-primary" ng-click="loadMore()" translate translate-attr-value="iniciar_sesion" /> -->
				</div>

		</div>
		
<!-- 		<div class="gap gap-small"></div> -->
	
	<!-- END TOP AREA PM  -->