<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
<!-- /GOOGLE FONTS -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/icomoon.css">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/mystyles.css">
<script src="js/modernizr.js"></script>
<script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/slimmenu.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <script src="js/icheck.js"></script>
        <script src="js/fotorama.js"></script>
        <script src="js/typeahead.js"></script>
        <script src="js/card-payment.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>
        
<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>

<style>
    .icon-amarillo {
    color: #FFD700;
}
 .icon-mediano {
    width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 40px;
}
.icon-small {
    width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}
</style>

 <div class="container" >
     <div class="container" ng-controller="PuebloMagicoHeader as puebloMagicoHeader">
         <h1 class="page-title">{{nombrePuebloMagico}}</h1>
     </div>

     <div class="row">
         <div class="col-md-2">
             <aside class="sidebar-left">
                 <ul class="nav nav-pills nav-stacked nav-side mb30">
                     <li ng-class="{ active: tab == 'info' }"><a  href="#" ng-click="tab='info'; iniMap()">Información</a>
                     </li>
                     <li ng-class="{ active: tab == 'servicios' }"><a href="" ng-click="tab='servicios'">Servicios turísticos</a>
                     </li>
                     <li ng-class="{ active: tab == 'atractivos' }"><a href="" ng-click="tab='atractivos'">Atractivos turísticos</a>
                     </li>
                     <li ng-class="{ active: tab == 'emergencias' }"><a href="" ng-click="tab='emergencias'">Servicios de emergencias</a>
                     </li>                            
                 </ul>
             </aside>
         </div>
         
         <div class="col-md-10">
             
            <div ng-switch on="tab" ng-init="tab='info'">
	         	<div ng-switch-when="info" ng-controller="PuebloMagicoController as puebloMagicoController">
           			<p>{{descripcion}}</p>
					<div class="gap"></div>
					<h4>Ubicación</h4>
					<div id="map" style="height: 400px"></div>
				</div>
	         	<div ng-switch-when="servicios" ng-controller="ServiciosTuristicosController as serviciosTuristicosController">
	            	
	            	
	            	
                        	            	
		        </div>
	         	<div ng-switch-when="atractivos" ng-controller="AtractivosTuristicosController as atractivosTuristicosController">
	         		
		            <ul class="booking-list" >
		            	<div infinite-scroll='loadMore()' infinite-scroll-distance='2' infinite-scroll-disabled='end'>	
							<div ng-repeat="atractivo in atractivosTuristicos">
			                    <li>
									<a class="booking-item" ng-href="#/atractivoTuristico/{{atractivo.idAtractivoTuristico}}">
			                            <div class="row">
			                                <div class="col-md-4">
			                                    <img height="170px" width="400px" ng-src="{{getImage(atractivo.idAtractivoTuristico)}}" alt="{{atractivo.nombre}}" title="{{atractivo.nombre}}" />
			                                </div>
			                                <div class="col-md-5">
			                                    <div class="booking-item-rating">
			                                        <ul class="icon-group booking-item-rating-stars">
			                                            <li><i class="fa fa-star"></i>
			                                            </li>
			                                            <li><i class="fa fa-star"></i>
			                                            </li>
			                                            <li><i class="fa fa-star"></i>
			                                            </li>
			                                            <li><i class="fa fa-star"></i>
			                                            </li>
			                                            <li><i class="fa fa-star-o"></i>
			                                            </li>
			                                        </ul><span class="booking-item-rating-number"><b >{{atractivo.promedio}}</b> de 5</span>
			                                    </div>
			                                    <h5 class="booking-item-title">{{atractivo.nombre}}</h5>
			                                    <p class="booking-item-address"><i class="fa fa-map-marker"></i>{{atractivo.direccion}}</p>
			                                    <p class="booking-item-description">{{atractivo.descripcion}}</p>
			                                </div>
			                                <div class="col-md-3"><span class="booking-item-price">$25</span> <span>/persona</span> <span class="btn btn-primary">Agregar</span>
                                        </div>
			                            </div>
			                        </a>
			                    </li>
		                    </div>
	                    </div>
	                    
	                </ul>
		        </div>
	         	<div ng-switch-when="emergencias">
		            <h1>emergencias Div</h1>
		        </div>
         	</div>
             
            <div class="gap gap-small"></div>
            <div class="box bg-gray">
                <h3>Califica este Pueblo Mágico</h3>
                <form>
                    <div class="form-group">
                        <label>Calificación</label>
                        <span uib-rating ng-model="calificacion.calificacion" max="5" read-only="false" state-on="'fa fa-star icon-amarillo icon-small'" state-off="'fa fa-star-o icon-small '" aria-labelledby="custom-icons-1"></span> 
							    	
                    </div>
                    <div class="form-group">
                        <label>Comentario</label>
                        <textarea class="form-control" rows="6" ng-model="calificacion.comentario"></textarea>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Calificar" ng-click="calificar()" />
                </form>
                <div class="gap gap-small"></div>
                <div class="alert alert-danger" ng-show="errorCalificar=='error'" >
                  	<button class="close" type="button" ng-click="errorCalificar='ok'">
                  		<span aria-hidden="true">&times;</span>
                    </button>
	                <p class="">{{mensajeErrorCalificar}}</p>
              	</div>
              	<div class="alert alert-success" ng-show="insertarCalificacion=='ok'" >
                  	<button class="close" type="button" ng-click="insertarCalificacion='cerrar'">
                  		<span aria-hidden="true">&times;</span>
                    </button>
	                <p class="">{{mensajeCalInsertada}}</p>
              	</div>
            </div>


         </div>
         
         
         
         
         
     </div>

     <div class="gap"></div>
 </div>
