
 <div class="container" >
     
	<div class="gap"></div>
     <div class="row">
         <div class="col-md-3">
             <aside class="sidebar-left">
                 <ul class="nav nav-pills nav-stacked nav-side mb30">
					<li class="active">
						<a href="#/gestion">Inicio</a>
					</li>
				   <li >
						<a href="#/validacion/prestadores" >PST</a>
				   </li>
				   <li >
						<a href="#/validacion/establecimientos" >Establecimientos</a>
				   </li>           
				   <li >
						<a href="#/validacion/serviciosTuristicos" >Servicios turísticos</a>
				   </li>                
                 </ul>
             </aside>
         </div>
         
         <div class="col-md-9">
             <h1 class="page-title">Bienvenido {{globals.currentUser.nombreUsuario}}</h1>         	
         </div>
     </div>

     <div class="gap"></div>
 </div>
